USE [master]
GO
/****** Object:  Database [Fabrique de meubles]    Script Date: 03-06-21 12:19:46 ******/
CREATE DATABASE [Fabrique de meubles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fabrique de meubles', FILENAME = N'D:\sql server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Fabrique de meubles.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fabrique de meubles_log', FILENAME = N'D:\sql server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Fabrique de meubles_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fabrique de meubles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fabrique de meubles]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 03-06-21 12:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prénom] [varchar](50) NOT NULL,
	[Téléphone] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMANDE]    Script Date: 03-06-21 12:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMANDE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENT] [int] NOT NULL,
	[DATE] [date] NOT NULL,
	[DATE_DE_PAIMENT] [date] NULL,
 CONSTRAINT [PK_COMMANDE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_COMMANDE]    Script Date: 03-06-21 12:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_COMMANDE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMMANDE] [int] NOT NULL,
	[ID_MEUBLES] [int] NOT NULL,
 CONSTRAINT [PK_DETAIL_COMMANDE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEUBLE]    Script Date: 03-06-21 12:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEUBLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](50) NOT NULL,
	[PRIX_UNITAIRE] [float] NULL,
	[TEMPS_DE_FABRICATION] [varchar](50) NULL,
 CONSTRAINT [PK_MEUBLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 03-06-21 12:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MEUBLE] [int] NOT NULL,
	[QUANTITE] [int] NULL,
	[ETAT_DE_FABRICATION] [varchar](50) NOT NULL,
	[DELAI_DE_LIVRAISON] [int] NULL,
 CONSTRAINT [PK_STOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
